.driver{
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
}

.driver img{
    max-width: 512px;
}

/*.right{
    padding-top: 10%;
}*/

.driver h2{
    color:greenyellow;
}

.driver span{
    color: green;

}

.driver p{
    font-size: 1rem;
    padding: 1.5rem 0;
    color: #dd0;
}

.driver button{
    background-color: aqua;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 18px;
    border: none;
    border-radius: 1rem;
}

.driver button:hover{
    background-color: blue;
    transition: background-color 1s;
}

@media screen and (max-width: 920px){
    .driver{
        grid-template-columns: 1fr;
    }

    .driver img{
        max-width: 100%;
        border-radius: 1rem;
        margin: auto;
    }

    .driver .left{
        
        display: 'flex';
        justify-content: 'center'; 

    }

    .driver h2{
        padding-top: 10%;
    }

   /* .right{
        display: 'flex';
        justify-content: 'center';
    }*/
}